<%- include('../partials/header') %>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <label>Name:</label>
        <input type="text" name="recipeName" value="<%= recipe.recipeName %>">
    <br><br>
    <label>Servings:</label>
        <input type="text" name="servings" value="<%= recipe.servings %>">
    <br><br>
    <label>Total time in mins:</label>
        <input type="text" name="totalTime" value="<%= recipe.totalTime %>">
    <br><br>
    <label>Ingredients:</label>
        <textarea name="ingredients"><%= recipe.ingredients %></textarea>
    <br><br>
    <label>Recipe:
        <textarea name="recipe"><%= recipe.recipe %></textarea>
    </label><br><br>
    <label>Difficulty:</label>
    <select name="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    </label><br><br>
    
    <input type="submit" value="Update Recipe">
</form>

<%- include('../partials/footer') %>
