<%- include('../partials/header') %>

<h3>As my abuelita once said:
  "I'm not a mess in the kitchen, I'm just creatively disorganized"
</h3>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %>
      <tr>
        <td><%= r.title %></td>
        <td><%= r.difficulty %></td>
        <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</section>

<%- include('../partials/footer') %>


<button type="submit">Delete Recipe</button>