<%- include('../partials/header') %>

<section id="home-page">
    <div>Name: </div>
    <div><%= recipe.name %></div>
    <div>Main ingredients: </div>
    <div><%= recipe.mainIngredients %></div>
    <div>Total time: </div>
    <div><%= recipe.totalTime %></div>
    <div>Difficulty: </div>
    <div><%= recipe.difficulty %></div>
</section>

<br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
    action="/recipe/<%= recipe._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
  <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>
